
iDeviceApp/iDeviceApp\.xcodeproj/xcuserdata/oliver\.xcuserdatad/xcschemes/xcschememanagement\.plist

KrikeyChallenge\.xcworkspace/xcuserdata/oliver\.xcuserdatad/UserInterfaceState\.xcuserstate

KrikeyChallenge\.xcworkspace/xcuserdata/oliver\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

KrikeyChallenge\.xcworkspace/xcuserdata/oliver\.xcuserdatad/

*.xcuserstate
